<div *ngIf="user">
   <div class="flex flex-col">
      <div class="text-2xl font-bold">
         {{ user.nombre }}
      </div>
      <div class="text-base text-surface-500 dark:text-surface-400">
         <div class="mt-3">
            <span class="font-bold">Telefono: </span>
            <span>{{ user.telefono }}</span> 
         </div>
         <div class="mt-3">
            <span class="font-bold">Correo: </span>
            <span>{{ user.correo }}</span> 
         </div>
         <div class="mt-3">
            <span class="font-bold">Direccion: </span>
            <span>{{ user.direccion }}</span> 
         </div>
      </div>
      <div class="relative my-3">
         <p-tag [value]="user.rol_user" [severity]="getSeverity(user.rol_user)"></p-tag>
      </div>
      <div class="text-base text-surface-500 dark:text-surface-400">
         <div class="mt-3">
            <span class="font-bold">Usuario: </span>
            <span>{{ user.usuario }}</span> 
         </div>
         <div class="mt-3">
            <span class="font-bold">Contraseña: </span>
            <span>{{ user.password }}</span> 
         </div>
      </div>
      <div class="flex flex-row justify-between gap-5 mt-8">
         <p-button label="Eliminar" class="flex-auto whitespace-nowrap" severity="danger" styleClass="w-full" outlined></p-button>
         <p-button label="Editar" class="flex-auto whitespace-nowrap" severity="success" styleClass="w-full" outlined (onClick)="editUser(user)"></p-button>
         <p-dialog header="Editar Usuario" [(visible)]="visibleEdit" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [modal]="true" appendTo="body">
            <app-edituser [user]="selectedUser"></app-edituser>
         </p-dialog>
      </div>
      
   </div>
</div>
